# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Coverage directory
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
